﻿@model SportsStore.Domain.Entities.ShippingDetails
@{
    ViewBag.Title = "SportsStore: CheckOut";
}

<h2>Check Out Now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x =>x.Name, new { @class = "form-control" })
    </div>

    <h3>Address</h3>

    foreach(var property in ViewData.ModelMetadata.Properties)
    {
        if(property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new {@class = "form-control"})
            </div>
        }
    }

    <h3>Options</h3>
    <div class="checkbox">
        <label>@Html.EditorFor(x=>x.GiftWrap) Gift wrap these items</label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
}

